@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0..1,0') ;

@import url('https://fonts.cdnfonts.com/css/sf-archery-black') ;

@import url('https://fonts.cdnfonts.com/css/eagle-4') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--main-color) var(--background);

}


:root {

  --heigth: 180px;

  --background: #150a31;

  --background-elements: #3a0767;

  --main-color: #710dbd;

  --ligth-color: #8927d5;

  --outline: 8px solid var(--background-elements);

  --box-shadow: 4px 4px 10px rgba(94, 1, 1, 0.952);

  --border-color: var(--main-color);
}

html {
  background: var(--background);
}

/* Scroll Bar */
::-webkit-scrollbar {
  background: transparent;
  height: 12px;
  transition: 300ms;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 1ex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ligth-color);
  cursor: move;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}


a {
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0 , 'wght' 400 , 'GRAD' 0 , 'opsz' 48;
}

body {
  font-family: Eagle Ligth , sans-serif;

  /* font-size: 18px; */
}

.main__content {
  padding: 20px 0;
  position: absolute;
  width: 100%;
}

/* Loading */
.Loading {
  color: transparent;
  margin: 10px auto;
  text-align: center;
}

.text__loading {
  opacity: 0;
  position: absolute;
}

/* Avatar */
.AvatarSelect {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 300px;
}

.avatar__carrousel {
  align-items: center;
  display: flex;
  gap: 4px;
}

.avatar__carrousel button {
  padding: 8px 0;
}

.avatar__carrousel span {
  font-size: 40px;
}

.avatar__carrousel img {
  border-radius: 50%;
  width: 100px;
}

/* Section do conteúdo principal */
.Button {
  align-items: center;
  background: var(--background-elements);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: large;
  font-weight: 600;
  gap: 12px;
  padding: 8px 20px;
  transition: 0.25s;
}

.Button:hover {
  filter: brightness(150%);
}

.Button:disabled {
  color: rgb(99, 99, 99);
  font-weight: 100;
  pointer-events: none;
}

input {
  background: var(--background-elements);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: white;
  outline: 1px solid var(--border-color);
  padding: 4px;
}

/* Title */
.Title {
  font-family: SF Archery Black , sans-serif;
  font-size: 3rem;
  padding: 60px;
  text-align: center;
  text-shadow: 0 0 16px var(--ligth-color);
}

.title__gif {
  filter: brightness(130%);
  mix-blend-mode: luminosity;
  pointer-events: none;
  user-select: none;
}


/* Login */
.Login__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;

}

.Login {
  align-items: center;
  background: var(--background-elements);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  outline: var(--outline);
  padding: 16px;
  row-gap: 12px;
  width: 400px;
}

.Login label {
  font-size: larger;
  font-weight: 700;
}

.Login input {
  font-size: larger;
}

/* Header */
.Header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.Header nav {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-evenly;
}

.Header nav a {
  background: var(--background-elements);
  border-radius: 4px;
  color: white;
  padding: 4px 12px;
  text-decoration: none;
}

.user-data {
  align-items: center;
  border-radius: 12px;
  color: white;
  display: flex;
  gap: 16px;
  justify-content: space-around;
  padding: 8px 20px;
  text-decoration: none;
  transition: 300ms;
  width: 225px;
}

.user-data h4 {
  opacity: 0;
  transition: 300ms;
}

.user-data:hover {
  background: var(--background-elements);
}

.user-data:hover h4 {
  opacity: 1;
}

.user-data:hover img {
  transform: scale(1.2);
}

.img__user {
  border-radius: 50%;
  transition: 300ms;
  width: 50px;
}

.TitleSmall {
  align-items: center;
  display: flex;
  font-family: SF Archery Black , sans-serif;
  text-shadow: 0 0 12px var(--ligth-color);
}

.TitleSmall__img {
  height: 60px;
  mix-blend-mode: luminosity;
}

/* Search */
.Search {
  background-color: var(--background-elements);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 12px;
  width: fit-content;
}

.Search input {
  background: none;
  border: none;
  font-size: large;
  outline: none;
  width: 300px;
}

.Search button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.Search button:disabled {
  color: gray;
  cursor: not-allowed;
}

.Albums {
  margin: 20px auto;
  max-width: 900px;
}

.Albums h2 {
  text-align: center;
}

.result__search {
  margin: 20px;
}

/* AlbumCard */
.AlbumCard {
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  display: flex;
  gap: 12px;
  padding: 12px;
  position: relative;

}

.AlbumCard span {
  left: 30px;
  opacity: 0;
  position: absolute;
  top: 40%;
}

.AlbumCard__img {
  width: 60px;
}

.AlbumCard:hover {
  background: rgba(0, 0, 0, 0.2);
}

.AlbumCard:hover img {
  filter: brightness(35%);
}

.AlbumCard:hover span {
  opacity: 1;
}

/* Detailed Album */
.AlbumDetailed {
  margin: 0 auto;
  max-width: 900px;
}

.album__data {
  align-items: flex-end;
  display: flex;
  gap: 12px;
  margin: 24px 0;
  padding: 12px;
}

/* Music Card */
.MusicCard {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  display: flex;
  gap: 12px;
  padding: 12px;
  position: relative;
  transition: 300ms;
}

.MusicCard .play {
  font-size: 30px;
  left: 30px;
  opacity: 0;
  position: absolute;
  top: 40%;
  transition: 300ms;
}

.MusicCard .favorite {
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  right: 20px;
  transition: 300ms;
  z-index: 2;
}

.MusicCard .favorite:hover {
  text-shadow: 0 0 2px white;
  transform: scale(1.5);
}

.isChecked {
  color: var(--main-color);
  font-variation-settings: 'FILL' 1 , 'wght' 400 , 'GRAD' 0 , 'opsz' 48;
}

.MusicCard:hover {
  background: rgba(0, 0, 0, 0.2);
}

.MusicCard:hover img {
  filter: brightness(25%);
}

.MusicCard:hover .play {
  opacity: 1;
}

.music__card__track {
  margin-right: 70px;
}

/* Player */
.Player__container {
  background: var(--background-elements);
  bottom: 0;
  height: 150px;
  position: fixed;
}

.Player {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 40px 12px 0;
  width: 100vw;
  z-index: 5;
}

.Player__img {
  height: 60px;
}

.track__info {
  flex-grow: 2;
}

.play__next__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 4px;
  width: 200px;
}

.play__next__buttons .material-symbols-outlined {
  font-size: 30px;
}

.time__song {
  text-align: center;
}

/* Slider */
.Slider {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.horizontal-slider {
  background: var(--main-color);
  height: 8px;
}

.example-thumb {
  background: var(--background);
  border-radius: 4px;
  bottom: -20px;
  box-shadow: 0 0 4px var(--ligth-color);
  padding: 2px;
  text-align: center;
  width: 48px;
}

.example-thumb-img {
  filter: brightness(130%);
  height: 40px;
  mix-blend-mode: luminosity;
  user-select: none;
}

/* Volume Slider */
.volume-slider-container {
  align-items: center;
  display: flex;
}

.volume-slider-icon {
  cursor: pointer;
  font-size: 30px;
  margin-right: 2px;
  opacity: 0.5;
  user-select: none;
}

.volume-slider {
  background-color: rgba(255, 255, 255, 0.3);
  height: 2px;
  width: 100%;
}

.volume-thumb {
  background: white;
  border-radius: 50%;
  bottom: -8px;
  color: transparent;
  height: 20px;
  opacity: 0.8;
  transition: 300ms;
  user-select: none;
  width: 20px;
}

@media screen and ( max-width : 650px ) {

  .TitleSmall {
    display: none;
  }

  .play__next__buttons {
    width: 130px;
  }

  .track__info {
    font-size: small;
  }

  .user-data {
    width: fit-content;
  }

}

@media screen and ( max-device-width : 650px ) {

  :root {

    --heigth: 250px;
  }

}

@media screen and ( max-device-height : 500px ) {

  :root {

    --heigth: 220px;
  }

  .Player__container {
    height: 120px;
    padding: 0 4px;
  }

  .Player {
    padding: 10px;
    padding-top: 20px;
  }

}

/* UserCard */
.UserCard {
  align-items: center;
  background: var(--background-elements);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  outline: var(--outline);
  padding: 16px;
  row-gap: 12px;
  width: 400px;
}

.UserCard__img {
  border-radius: 50%;
}

/* ProfileEdit */
.ProfileEdit {
  align-items: center;
  background: var(--background-elements);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  outline: var(--outline);
  padding: 16px;
  row-gap: 12px;
  width: 400px;
}
